venv
*.pyc
.DS_Store
.env
env
Epigenetics_Project
README.txt
__pycache__
data
env
files.txt
jw_utils
meetings_quotedWork
processing.py
requirements.txt
results
test.ipynb
test.py
trestle_bowtie_alignments
project_1/intermediate_merged_bams/
project_1/merged_bam_files/
project_1/merged_bam_files/
data_from_Eustaquio
.ipynb_checkpoints/
project_1/wigggle_pilup_files/








